.world-work {
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    overflow: hidden;
    .inside {
        position: relative;
        .sequence-wrapper {
            width: 100%;
            max-width: 500px;
            aspect-ratio: 1 / 1;
            margin: 0 auto;
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            &::before {
                content: '';
                position: absolute;
                display: block;
                padding-top: 100%;
                width: 100%;
            }
            #sequence-canvas {
                width: 100%;
                height: 100%;
                display: block;
                position: absolute;
                top: 0;
                left: 0;
                right: 0;
                bottom: 0;
              }
          }
        
         
    }
    .backdrop {
        height: 637px;
        width: 100%;
        max-width: 1332px;
        margin: 137px auto 0;
        background-image: url('/images/rectangle.svg');
        background-position: center;
        background-repeat: no-repeat;

    }
    .world-world-horizontal {
        position: absolute;
        top: calc(50% - 96px/2);
        left: 0px;
        width: 100%;
        transform: translateY(-50%);
        img {
            width: auto;
            height: 60vh;
            max-width: fit-content;
        }
    }
}

.reveal-overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #BADF01; /* màu giống trong ảnh */
    transform: translateY(100%);
    z-index: 5;
    pointer-events: none;
  }