@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../fonts/SVN-GilroyXBold.woff2') format('woff2'),
      url('../fonts/SVN-GilroyXBold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'SVN-Gilroy';
  src: url('../fonts/SVN-Gilroy.woff2') format('woff2'),
      url('../fonts/SVN-Gilroy.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Poppins';
  src: url('../fonts/Poppins-Black.woff2') format('woff2'),
      url('../fonts/Poppins-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}



