@import './global/header.scss';
@import './global/footer.scss';
@import './components/worldWork.scss';
@import './components/testimonial.scss';
@import './components/career.scss';
body {
    background-color: #000;
    font-family: 'HelveticaNowDisplay', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-display: swap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    min-height: calc(var(--vh, 1vh) * 100);
    overflow-x: hidden;
}
section {
    overflow: hidden;
    position: relative;
    z-index: 2;
    background-color: #000;
}
.no-backdrop {
    .fancybox__backdrop {
        background: transparent;
    }
}
.bg-section {
    background: linear-gradient(0deg, #4F5963 0%, #080809 100%), linear-gradient(0deg, #000 0%, #000 100%);

}
* {
    box-sizing: border-box !important;
}
.hubert-about-us {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: url('/images/patent.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
    }
    .box-content {
        @media (max-width: 1200px) {
            max-width: 300px;
        }
        @media (max-width: 1100px) {
            max-width: 250px;
        }
        @media (max-width: 992px) {
            position: relative;
            top: 0;
            left: 0;
        }
        .sharp-box {
            position: absolute;
            &.sharp-thunder {
                top: 0;
                left: 0;
                transform: translate(-77%, -15%);
                width: 15%;
            }
            &.sharp-x {
                bottom: 0;
                right: 0;
                transform: translate(73%, -89%);
                width: 12%;
            }
            &.sharp-heart {
                bottom: 0;
                right: 0;
                transform: translate(93%, 44%);
                width: 12.71%;
            }
        }
    }
    .box-img {
        width: 100%;
        img {
            max-width: 80%;
            @media (max-width: 1100px) {
                max-width: 60%;
            }
            @media (max-width: 992px) {
                max-width: 80%;
                margin-top: 30px;
            }
        }
        
    }
}

.btn {
    &-default {
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #606060;
        height: 36.167px;
        color: #fff;
        font-family: 'HelveticaNowText', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        transition: all 0.3s ease;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &-full {
        width: 100%;
    }
}
.abt-quote {
    min-height: calc(var(--vh, 1vh) * 100);
    position: relative;
    .backdrop {
        height: 610px;
        width: 100%;
        max-width: 1332px;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        margin: 0 auto 0;
        background-image: url('/images/rectangle.svg');
        background-position: center;
        background-repeat: no-repeat;
        position: absolute;
        background-size: 100% 100%;

    }
}
.hubert-s4 {
    background-image: url('/images/hubert-s4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 170px 0;
    background-attachment: fixed;
    min-height: calc(var(--vh, 1vh) * 100);
    display: flex;
    align-items: center;
    justify-content: center;
    .heading-title {
        font-family: 'HelveticaNowDisplay', sans-serif;
        font-size: 50px;
        font-weight: 500;
        line-height: 1.2;
        @media (min-width: 1024px) {
            padding-left: 80px;
        }
        @media (max-width: 1023px) {
            font-size: 40px;
        }
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }
    .list-hubert-s4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 30px;
        margin-top: 60px;
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
        li {
            position: relative;
            display: flex;
            gap: 29px;
            align-items: flex-start;
            @for $i from 1 through 9 {
                &:nth-child(#{$i}) {
                    &:before {
                        content: '';
                        background-image: url('/images/0' + $i + '.svg');
                        background-size: contain;
                        background-position: top left;
                        background-repeat: no-repeat;
                        width: 100px;
                        height: 100px;
                        display: block;
                        @media (max-width: 768px) {
                            font-size: 60px;
                        }
                    }
                }
            }
            &:nth-child(1) {
                &:before {
                   flex: 0 0 50px;
                   max-width: 50px;
                }
            }
            &:nth-child(2), 
            &:nth-child(3) { 
                &:before {
                   flex: 0 0 60px;
                   max-width: 60px;
                }
            }
            &:nth-child(4) { 
                &:before {
                   flex: 0 0 59px;
                   max-width: 59px;
                }
            }
            h4 {
                color: #FFF;
                font-family: 'HelveticaNowDisplay', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 25px */
                letter-spacing: -0.5px;
                margin: 0 0 15px;
            }
            p {
                color: #FFF;
                font-family: "HelveticaNowText", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }
}

.hubert-marquee {
    width: 100%;
  overflow: hidden;
  background: #BADF01; /* màu giống ảnh bạn gửi */
  padding: 10px 0;
  white-space: nowrap;
  .marquee-track {
        display: flex;
        width: max-content;
    }

    .marquee-content {
        display: inline-flex;
        font-family: 'SharpGroteskPE', sans-serif;
        font-size: 41.858px;
        font-style: italic;
        text-transform: uppercase;
        animation: none;
        white-space: nowrap;
        color: #000;
        font-weight: 600;
        @media (max-width: 768px) {
            font-size: 24px;
        }
        span {
            &:after {
                content: '•';
                margin: 0 25px;
            }
            &.white {
                color: #fff;
            }
        }
    }
}
.project-carousel-wrapper {
    position: relative;
    .owl-overlay {
        position: absolute;
        top: 0;
        left: calc(var(--offset, 0px) * -1);
        width: calc(100% + (var(--offset, 0px) * 2));
        height: 100%;
        // background-color: #000;
        z-index: 10;
        pointer-events: none;
             &::before,
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 20vw;
                z-index: 10;
                top: 0;
                @media (max-width: 1366px) {
                    width: 10vw;
                }
                @media (max-width: 1200px) {
                    display: none;
                }
            }
            &:before {
                left: 0;
                background: linear-gradient(90deg, rgba(0, 0, 0, 1) 50%, rgba(0, 0, 0, 0) 100%);
            }
            &:after {
                right: 0;
                background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #000 50%);
            }
     }
}
.project-carousel {
    
   .owl-stage-outer {
        overflow: visible;
        // .owl-stage {
        //     &::before,
        //     &::after {
        //         content: '';
        //         position: absolute;
        //         height: 100%;
        //         width: 122px;
        //         z-index: 10;
        //         top: 0;
        //     }
        //     &:before {
        //         left: 0;
        //         transform: translateX(-30%);
        //         background: linear-gradient(90deg, #000 30%, rgba(255, 255, 255, 0) 100%);
        //     }
        //     &:after {
        //         right: 0;
        //         background: linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #000 100%);
        //     }
        // }
      
    }
    .owl-nav {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        [type="button"] {
            height: 88px;
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 32px !important;
            border: solid 1px #373737 !important;
            position: relative;
            @media (max-width: 768px) {
                height: 60px;
                font-size: 24px !important;
            }
            &:before {
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 0;
                background-color: #191919;
                transition: all 0.3s ease;
                content: '';
            }
            .icon-arrow-left {
                position: relative;
                z-index: 2;
                font-family: 'icomoon' !important;
                height: 32px;
                width: 37px;
                @media (max-width: 768px) {
                    height: 27px;
                    font-size: 24px !important;
                }
                &:before,
                &:after {
                    position: absolute;
                    transition: transform 0.4s ease, opacity 0.4s ease, color 0.4s ease;
                    left: 0;
                }
                &:before {
                    transform: translateX(0);
                    opacity: 1;
                    
                }
                &:after {
                    transform: translateX(-30px);
                    opacity: 0;
                    color: #BADF01;
                    content: "\e901";
                    display: none;
                }
            }
            .icon-arrow-right {
                position: relative;
                z-index: 2;
                font-family: 'icomoon' !important;
                height: 32px;
                width: 37px;
                @media (max-width: 768px) {
                    height: 27px;
                    font-size: 24px !important;
                }
                &:before,
                &:after {
                    position: absolute;
                    transition: transform 0.4s ease, opacity 0.4s ease, color 0.4s ease;
                    left: 0;
                }
                &:before {
                    transform: translateX(0px);
                    opacity: 1;
                    
                }
                &:after {
                    transform: translateX(-30px);
                    opacity: 0;
                    color: #BADF01;
                    content: "\e902";
                    display: none;
                }
            }
            &:last-child {
                border-left: none !important;
            }
            &:hover {
                &:before {
                    height: 100%;
                }
                .icon-arrow-left {
                    position: relative;
                    z-index: 2;
                    font-family: 'icomoon' !important;
                    &:before {
                        // transform: translateX(30px);
                        // opacity: 0;
                        color: #BADF01;
                    }
                    &:after {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
                .icon-arrow-right {
                    position: relative;
                    z-index: 2;
                    font-family: 'icomoon' !important;
                    &:before {
                        // transform: translateX(-30px);
                        // opacity: 0;
                        color: #BADF01;
                    }
                    &:after {
                        transform: translateX(0);
                        opacity: 1;
                    }
                }
            }
        }
    }
}

.char {
    display: inline-block;
    will-change: transform, opacity;
  }
.sharp-game-cartridge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(0, -28%);
}
.sharp-nitendo-console {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(8%, -9%);
    max-width: 42%;
}

.abt-quote-title {
    position: relative;
    display: inline-block;
    line-height: 1;
    .text {
        display: block;
        line-height: 0.9;
    }
    .sharp {
        position: absolute;
        img {
            width: 100%;
        }
        &.sharp-ideate {
            top: -3%;
            left: -30%;
            width: 151.5%;
        }
        &.sharp-create {
            top: -10%;
            left: -8%;
            width: 108.5%;
        }
        &.sharp-prototype {
            top: 10%;
            left: -8%;
            width: 115.2%;
        }
        &.sharp-play {
            top: -11%;
            left: -33%;
            width: 160.2%;
        }
        &.sharp-do-it-again {
            top: -16%;
            left: -17%;
            width: 132.2%;
        }
    }
}


.up-coming {
    height: calc(var(--vh, 1vh) * 100);
    background-image: url('/images/upcoming-bg.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "DM Sans", sans-serif;
    font-weight: 500;
    font-size: 33px;
    color: #000;
    .sequence-wrapper {
        max-width: 540px;
        width: 100%;
        position: relative;
        aspect-ratio: 1 / 1;
        display: block;
        &::before {
            content: '';
            display: block;
            padding-top: 100%;
            width: 100%;
        }
        #sequence-canvas {
           position: absolute;
           top: 0;
           left: 0;
           right: 0;
           bottom: 0;
           width: 100%;
           height: 100%;
        }
    }
    .up-coming-logo {
    }
}

.aboout-us-quote {
    .backdrop  {
        min-height: 523px;
        position: relative;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: url('/images/backdrop-2.png');
            background-size: contain;
            background-position: center;
            background-repeat: no-repeat;
        }
        img {
            position: relative;
            z-index: 1;
        }
    }
    
}

.ourwork-list {
    position: relative;
    z-index: 2;
    background-color: #fff;
    padding-top: 100px;
    @media (min-width: 1024px) {
        padding-top: 200px;
    }
    .container {
            z-index: 2;
    }
    .ourwork-item {
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        padding: 70px 0;
        height: calc(var(--vh, 1vh) * 100);
        display: flex;
        align-items: flex-start;
        line-height: 1;
        &::before {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-image: var(--bg-image);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            filter: grayscale(100%);
            z-index: 1;
            transition: all 0.5s ease;
        }
        &.active {
            &::before {
                filter: grayscale(0%);
            }
        }
        .ourwork-link {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 1;
        }
        @media (max-width: 768px) {
            padding: 30px 0;
            height: 70vh;
        }
       .ourwork-title {
            line-height: 1;
            font-family: 'HelveticaNowDisplay';
            display: flex;
            align-items: center;
            gap: 20px;
       }
       .icon-arrow-up {
            width: 38px;
            height: 38px;
            background-color: #BADF01;
            border-radius: 50%;
            position: relative;
            display: inline-flex;
            align-items: center;
            justify-content: center;
            color: #000;
            font-size: 16px;
            @media (max-width: 768px) {
                width: 24px;
                height: 24px;
                font-size: 12px;
            }
       }
       .ourwork-content {
            font-size: 19px;
            @apply font-text font-bold;
       }
    }
}
.post-content {
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #fff;
        z-index: 0;
        
        background-image: url('../images/post-content-bg.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        @media (min-width: 1024px) {
            max-height: 850px;
        }
        @media (max-width: 1023px) {
            max-height: 500px;
        }
    }
    > * {
        position: relative;
        z-index: 1;
    }
}
.post-stage-list {
    .post-stage-item {
        .post-stage-gallery {
            padding-top: 75px;
            @media (max-width: 1023px) {
                padding-top: 30px;
            }
        }
        .post-stage-content {
            padding: 75px 0 47px;
            max-width: 1100px;
            margin: 0 auto;
            @media (max-width: 1023px) {
                padding: 30px 0px;
            }
            .post-stage-content-title {
                position: relative;
                @media (max-width: 1023px) {
                    font-size: 16px;
                    padding-left: 20px;
                }
                &:before {
                    content: '';
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    background-color: #BADF01;
                    position: absolute;
                    top: -3px;
                    left: 0;
                    transform: translate(calc(-100% - 29px), -0%);
                    @media (max-width: 1023px) {
                        transform: translate(0, -0%);
                        width: 12px;
                        height: 12px;
                        top: 2px;
                    }
                }
            }
        }
    }
    .game-feature {
        display: flex;
        flex-wrap: wrap;
        gap: 14px;
        > * {
            font-family: 'Inter', sans-serif;
            font-size: 18px;
            font-weight: 400;
            line-height: 1.5;
            color: #000;
            background-color: #BADF01;
            padding: 4px 19px;
            border-radius: 40px;
        }
    }
    .post-stage-carousel__main {
        img {
            border-radius: 15px;
        }
    }
    .post-stage-carousel__thumb {
        position: relative;
        .owl-stage-outer {
            &::before,
            &::after {
                content: '';
                position: absolute;
                height: 100%;
                width: 122px;
                z-index: 2;
                top: 0;
            }
            &:before {
                left: 0;
                transform: translateX(-30%);
                background: linear-gradient(90deg, #fff 30%, rgba(255, 255, 255, 0) 100%);
            }
            &:after {
                right: 0;
                background: linear-gradient(90deg, rgba(255, 255, 255, 0) 30%, #fff 100%);
            }
            img {
                border-radius: 12px;
            }
        }
        .owl-dots {
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: center;
            gap: 5px 10px;
            margin: 47px 0 0;
            padding-bottom: 100px;
            button {
                width: 13px;
                height: 13px;
                background-color: #D9D9D9;
                border-radius: 50%;
                &.active {
                    background-color: #BADF01;
                }
            }
        }
      
    }
}