@import './global/header.scss';
@import './global/footer.scss';
@import './components/worldWork.scss';
@import './components/testimonial.scss';

body {
    background-color: #000;
    font-family: 'HelveticaNowDisplay', sans-serif;
    font-size: 1rem;
    margin: 0;
    padding: 0;
    line-height: 1.2;
    font-display: swap;
    overflow-x: hidden;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    font-weight: 400;
    min-height: 100vh;
    overflow-x: hidden;
}
section {
    overflow: hidden;
}
.bg-section {
    background: linear-gradient(0deg, #4F5963 0%, #080809 100%), linear-gradient(0deg, #000 0%, #000 100%);

}
.hubert-about-us {
    position: relative;
    &::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 50%;
        background-image: url('/images/patent.png');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .box-content {
        @media (max-width: 1200px) {
            max-width: 300px;
        }
        @media (max-width: 1100px) {
            max-width: 250px;
        }
        @media (max-width: 992px) {
            position: relative;
            top: 0;
            left: 0;
        }
        .sharp-box {
            position: absolute;
            &.sharp-thunder {
                top: 0;
                left: 0;
                transform: translate(-77%, -15%);
                width: 15%;
            }
            &.sharp-x {
                bottom: 0;
                right: 0;
                transform: translate(73%, -89%);
                width: 12%;
            }
            &.sharp-heart {
                bottom: 0;
                right: 0;
                transform: translate(93%, 44%);
                width: 12.71%;
            }
        }
    }
    .box-img {
        width: 100%;
        img {
            max-width: 80%;
            @media (max-width: 1100px) {
                max-width: 60%;
            }
            @media (max-width: 992px) {
                max-width: 80%;
                margin-top: 30px;
            }
        }
        
    }
}

.btn {
    &-default {
        background-color: transparent;
        border-radius: 50px;
        border: 1px solid #606060;
        height: 36.167px;
        color: #fff;
        font-family: 'HelveticaNowText', sans-serif;
        font-size: 14px;
        font-weight: 700;
        line-height: 1.2;
        text-transform: uppercase;
        transition: all 0.3s ease;
        &:hover {
            background-color: #fff;
            color: #000;
        }
    }
    &-full {
        width: 100%;
    }
}
.abt-quote {
    min-height: calc(var(--vh, 1vh) * 100);
}
.hubert-s4 {
    background-image: url('/images/hubert-s4.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 0;
    background-attachment: fixed;
    .heading-title {
        font-family: 'HelveticaNowDisplay', sans-serif;
        font-size: 50px;
        font-weight: 500;
        line-height: 1.2;
        @media (min-width: 1024px) {
            padding-left: 80px;
        }
        @media (max-width: 1023px) {
            font-size: 40px;
        }
        @media (max-width: 768px) {
            font-size: 30px;
        }
    }
    .list-hubert-s4 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 60px 30px;
        margin-top: 60px;
        @media (max-width: 768px) {
            grid-template-columns: repeat(1, 1fr);
        }
        li {
            position: relative;
            display: flex;
            gap: 29px;
            align-items: flex-start;
            @for $i from 1 through 9 {
                &:nth-child(#{$i}) {
                    &:before {
                        content: '0' + $i;
                        color: #BADF01;
                        font-family: 'SharpGroteskPE', sans-serif;
                        font-size: 92.08px;
                        text-decoration: underline;
                        line-height: 100%; /* 25px */
                        font-weight: 400;
                        font-style: italic;
                        line-height: 100%;
                        line-height: 0.8;
                        @media (max-width: 768px) {
                            font-size: 60px;
                        }
                    }
                }
            }
            h4 {
                color: #FFF;
                font-family: 'HelveticaNowDisplay', sans-serif;
                font-size: 25px;
                font-style: normal;
                font-weight: 500;
                line-height: 100%; /* 25px */
                letter-spacing: -0.5px;
                margin: 0 0 15px;
            }
            p {
                color: #FFF;
                font-family: "HelveticaNowText", sans-serif;
                font-size: 14px;
                font-style: normal;
                font-weight: 300;
                line-height: 1.5;
            }
        }
    }
}

.hubert-marquee {
    width: 100%;
  overflow: hidden;
  background: #BADF01; /* màu giống ảnh bạn gửi */
  padding: 10px 0;
  white-space: nowrap;
  .marquee-track {
        display: flex;
        width: max-content;
    }

    .marquee-content {
        display: inline-flex;
        font-family: 'SharpGroteskPE', sans-serif;
        font-size: 41.858px;
        font-style: italic;
        text-transform: uppercase;
        animation: none;
        white-space: nowrap;
        color: #000;
        font-weight: 600;
        @media (max-width: 768px) {
            font-size: 24px;
        }
        span {
            &:after {
                content: '•';
                margin: 0 25px;
            }
            &.white {
                color: #fff;
            }
        }
    }
}

.char {
    display: inline-block;
    will-change: transform, opacity;
  }
.sharp-game-cartridge {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    transform: translate(0, -28%);
}
.sharp-nitendo-console {
    position: absolute;
    right: 0;
    top: 0;
    transform: translate(8%, -9%);
    max-width: 42%;
}

.abt-quote-title {
    position: relative;
    display: inline-block;
    line-height: 1;
    .text {
        display: block;
        line-height: 0.9;
    }
    .sharp {
        position: absolute;
        img {
            width: 100%;
        }
        &.sharp-ideate {
            top: -3%;
            left: -30%;
            width: 151.5%;
        }
        &.sharp-create {
            top: -10%;
            left: -8%;
            width: 108.5%;
        }
        &.sharp-prototype {
            top: 10%;
            left: -8%;
            width: 115.2%;
        }
        &.sharp-play {
            top: -11%;
            left: -33%;
            width: 160.2%;
        }
        &.sharp-do-it-again {
            top: -16%;
            left: -17%;
            width: 132.2%;
        }
    }
}