---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Career">
    <div class="page-heading md:min-h-[100vh] min-h-[400px] pt-[144px] md:pb-[100px] pb-[50px] bg-black z-10 relative flex items-center justify-center bg-cover bg-center bg-no-repeat" style="background-image: url('/images/about-us-banner.png');">
        <div class="container">
            <div class="text-center text-white">
                <h1 class="md:text-[60px] text-[30px] font-inter font-medium text-center">We grew up playing. Now we build the games brands want to be part of.
                    From strategy to play, we create worlds people will remember.</h1>
            </div>
        </div>
       
    </div>
    <section class="about-us-content bg-white md:pt-[80px] pt-[50px] md:pb-[177px] pb-[100px]">
        <div class="container">
            <div class="flex gap-x-10 md:flex-nowrap flex-wrap">
                <div class="md:max-w-[500px] max-w-full flex flex-col gap-y-2">
                    <p class="font-display text-sm font-medium tracking-[0.16em] uppercase text-[#BADF01]">ABOUT US</p>
                    <h3 class="font-inter md:text-5xl text-4xl font-medium text-[#020202]">We are </br>Hubert.Studio</h3>
                </div>
                <div class="md:flex-1 md:max-w-[591px] max-w-full ml-auto font-inter font-light text-black flex flex-col gap-y-4 md:mt-0 mt-5">
                    <p>Founded by a team of gamers, nerds, creatives, and industry leaders, Hubert Studio brings together a global crew spanning from Europe to Asia to South America.Our studio is shaping the next generation of branded games.
                        </p>
                    <p>Through interactive experiences, custom games, and virtual worlds, we help brands connect, engage, and stand out – Powered by our passion, imagination, and deep tech expertise.</p>
                </div>
            </div>
            <div class="md:pt-[50px] pt-[20px] md:pb-[70px] pb-[50px]">
                <img src="/images/about-us.png" alt="" class="w-full">
            </div>
            <div class="flex gap-x-10 md:flex-nowrap flex-wrap">
                    <div class="md:max-w-[600px] max-w-full grid grid-cols-2 w-full font-display text-black md:text-[43px] text-[30px] font-medium divide-x divide-[#BADF01] [&>div]:px-[30px] mx-[-30px]">
                    <div class="col-span-1">
                        <h3>100+ <br/>Concurring
                            Players </h3>
                   </div>
                   <div class="col-span-1">
                        <h3>900+ <br/>Hours <br/>
                            Played </h3>
                   </div>
                </div>
                <div class="md:flex-1 md:max-w-[591px] max-w-full ml-auto font-inter font-light text-black flex flex-col gap-y-4 md:mt-0 mt-5">
                    <p>Founded by a team of gamers, nerds, creatives, and industry leaders, Hubert Studio brings together a global crew spanning from Europe to Asia to South America.Our studio is shaping the next generation of branded games.
                        </p>
                    <p>Through interactive experiences, custom games, and virtual worlds, we help brands connect, engage, and stand out – Powered by our passion, imagination, and deep tech expertise.</p>
                </div>
            </div>
        </div>
    </section>
    <section class="hubert-marquee">
        <div class="marquee-container" data-reverse="true" data-speed="50">
            <div class="marquee-track">
                <div class="marquee-content">
                    <span>BRAND CUSTOM GAMES</span>
                    <span>INTERACTIVE EXPERIENCE</span>
                    <span>ENGAGING GAMEPLAY</span>
                    <span class="white">BRAND CUSTOM GAMES</span>
                    <span class="white">INTERACTIVE EXPERIENCE</span>
                    <span class="white">ENGAGING GAMEPLAY</span>
                    
                </div>
            </div>
        </div>
    </section>
    <div class="aboout-us-quote bg-black md:py-10 py-5 z-10 relative">
        <div class="container">
            <div class="backdrop flex items-center justify-center md:!min-h-[523px] !min-h-[300px]">
                <img src="/images/quote-text.png" alt="">
            </div>
        </div>
    </div>
    <section class="hubert-marquee">
        <div class="marquee-container" data-reverse="false" data-speed="50">
            <div class="marquee-track">
                <div class="marquee-content">
                    <span>BRAND CUSTOM GAMES</span>
                    <span>INTERACTIVE EXPERIENCE</span>
                    <span>ENGAGING GAMEPLAY</span>
                    <span class="white">BRAND CUSTOM GAMES</span>
                    <span class="white">INTERACTIVE EXPERIENCE</span>
                    <span class="white">ENGAGING GAMEPLAY</span>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="career-modal" id="lua-developer">
        <div class="modal-header">
            <p class="modal-subTitle">HUBERT.STUDIO - CAREER OPPORTUNITIES</p>
            <h4 class="modal-title">LUA DEVELOPER</h4>
        </div>
        <div class="modal-content p-10 font-text text-black font-light leading-[1.5]">
            <p class="max-w-[610px]">Develop and maintain high-quality game features using LUA, collaborating with the team to deliver engaging, bug-free experiences.</p>
            <div class="grid grid-cols-2 gap-x-12 mt-10">
                <div class="col-span-1 pb-10 border-b border-[#CDCDCD]">
                    <h5 class="font-be text-sm font-normal tracking-[0.16em] uppercase text-black mb-7">Key Responsibilities:</h5>
                    <ul class="list-disc list-outside ml-4 flex flex-col font-text gap-1 text-sm font-light leading-[2]">
                        <li>Take lead in implementing game features and functionality.</li>
                        <li>Write clean, efficient, and well-documented code using LUA.</li>
                        <li>Collaborate with designers and other team members to ensure the game meets the desired specifications.</li>
                        <li>Test and debug code to identify and fix errors.</li>
                        <li>Learn and adapt to new programming languages and technologies as needed.</li>
                    </ul>
                </div>
                <div class="col-span-1 pb-10 border-b border-[#CDCDCD]">
                    <h5 class="font-be text-sm font-normal tracking-[0.16em] uppercase text-black mb-7">Qualifications:</h5>
                    <ul class="list-disc list-outside ml-4 flex flex-col font-text gap-1 text-sm font-light leading-[2]">
                        <li>Strong understanding of programming fundamentals, including data structures, algorithms, and object-oriented programming.</li>
                        <li>Experience with LUA for at least 2 years</li>
                        <li>Ability to learn and adapt to new programming languages and technologies quickly.</li>
                        <li>Strong problem-solving and debugging skills.</li>
                        <li>Good communication and teamwork skills.</li>
                        <li>Minimum 2 years working for a Roblox development company/studio.</li>
                    </ul>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-12 mt-10 items-end">
                <div class="col-span-1">
                    <h5 class="font-be text-sm font-normal tracking-[0.16em] uppercase text-black mb-7">Requirements:</h5>
                    <ul class="list-disc list-outside ml-4 flex flex-col font-text gap-1 text-sm font-light leading-[2]">
                        <li>Language (Spoken): English</li>
                        <li>Experience with user-generated content (especially Roblox)</li>
                    </ul>
                </div>
                <div class="col-span-1">
                    <a href="mailto:jobs@hubertstudio.com" class="h-[49px] w-full bg-[#BADF01] text-black rounded-full flex items-center justify-center hover:opacity-80 transition-all duration-300">
                        <span class="underline underline-offset-[3px] decoration-1 font-text text-[10px] tracking-[0.32em] uppercase font-normal">
                            SEND EMAIL
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script src="./vendor/gsap/gsap.min.js" defer></script>
<script src="./vendor/gsap/scrollSmoother.min.js" defer></script>
<script src="./vendor/gsap/ScrollTrigger.min.js" defer></script>
<script src="./vendor/gsap/ScrollToPlugin.min.js" defer></script>
<script src="./js/fancybox.js" defer></script>
<script src="./js/pages/career.js" defer></script>
