---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Career">
    <div class="page-heading md:min-h-[506px] min-h-[300px] pt-[164px] md:pb-[100px] pb-[50px] bg-black z-10 relative bg-cover bg-center bg-no-repeat" style="background-image: url('/images/heading-banner.png');">
        <div class="container">
            <div class="text-center text-white">
                <p class="page-heading-subTitle font-be font-normal tracking-[0.16em] md:text-sm text-[10px]">CAREER OPPORTUNITIES</p>
                <h1 class="page-heading-title  font-anton md:text-[160px] xl:text-[237px] text-[70px] tracking-[-0.06em] leading-[1]">WORK WITH US</h1>
            </div>
        </div>
        <div class="tamagochi absolute bottom-0 left-1/2 -translate-x-1/2 translate-y-1/2 z-20 xl:max-w-full md:max-w-[320px] max-w-[200px]">
            <img src="/images/tamagochi.png" alt="">
        </div>
    </div>
    <section class="hubert-marquee">
        <div class="marquee-container" data-reverse="true" data-speed="50">
            <div class="marquee-track">
                <div class="marquee-content">
                    <span>BRAND CUSTOM GAMES</span>
                    <span>INTERACTIVE EXPERIENCE</span>
                    <span>ENGAGING GAMEPLAY</span>
                    <span class="white">BRAND CUSTOM GAMES</span>
                    <span class="white">INTERACTIVE EXPERIENCE</span>
                    <span class="white">ENGAGING GAMEPLAY</span>
                    
                </div>
            </div>
        </div>
    </section>
    <section class="career-content bg-white md:pb-[177px] pb-[100px] md:pt-[223px] pt-[100px]">
      
        <div class="container">
            <div class="flex gap-x-10 md:flex-nowwrap flex-wrap">
                <div class="md:max-w-[407px] max-w-full md:mb-0 mb-5">
                    <h3 class="font-inter md:text-5xl text-3xl font-medium text-[#020202]">We <span class="text-[#BADF01]">work hard</span>, to create games we can <span class="text-[#BADF01]">play hard</span>.</h3>
                </div>
                <div class="flex-1 md:max-w-[591px] max-w-full ml-auto font-inter font-light text-black">
                    <p>Founded by a team of gamers, nerds, creatives, and industry leaders, Hubert Studio brings together a global crew spanning from Europe to Asia to South America. Our studio is shaping the next generation of branded games.</p>
                </div>
            </div>
            <div class="career-form-list grid grid-cols-3 gap-5 mt-[86px]">
                <div class="career-form-item md:col-span-1 col-span-3">
                    <div class="career-img">
                        <img src="/images/career.png" alt="">
                    </div>
                    <div class="career-content">
                        <h4 class="career-content-title">LUA Developer</h4>
                        <p>Develop and maintain high-quality game features using LUA, collaborating with the team to deliver engaging, bug-free experiences.</p>
                        <a href="#" class="view-now" data-popup="lua-developer">
                            <span>View</span> <span class="icon-arrow-up"></span>
                        </a>
                    </div>
                </div>
                <div class="career-form-item md:col-span-1 col-span-3">
                    <div class="career-img">
                        <img src="/images/career.png" alt="">
                    </div>
                    <div class="career-content">
                        <h4 class="career-content-title">3D Designer</h4>
                        <p>Create and optimize detailed 3D environments and assets that blend artistic vision with technical performance.</p>
                        <a href="#" class="view-now">
                            <span>View</span> <span class="icon-arrow-up"></span>
                        </a>
                    </div>
                </div>
                <div class="career-form-item md:col-span-1 col-span-3">
                    <div class="career-img">
                        <img src="/images/career.png" alt="">
                    </div>
                    <div class="career-content">
                        <h4 class="career-content-title">Project Manager</h4>
                        <p>Oversee projects from start to finish, ensuring smooth collaboration, timely delivery, and top-quality results.</p>
                        <a href="#" class="view-now">
                            <span>View</span> <span class="icon-arrow-up"></span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section class="hubert-marquee">
        <div class="marquee-container" data-reverse="false" data-speed="50">
            <div class="marquee-track">
                <div class="marquee-content">
                    <span>BRAND CUSTOM GAMES</span>
                    <span>INTERACTIVE EXPERIENCE</span>
                    <span>ENGAGING GAMEPLAY</span>
                    <span class="white">BRAND CUSTOM GAMES</span>
                    <span class="white">INTERACTIVE EXPERIENCE</span>
                    <span class="white">ENGAGING GAMEPLAY</span>
                    
                </div>
            </div>
        </div>
    </section>

    <div class="career-modal" id="lua-developer">
        <div class="modal-header">
            <p class="modal-subTitle">HUBERT.STUDIO - CAREER OPPORTUNITIES</p>
            <h4 class="modal-title">LUA DEVELOPER</h4>
        </div>
        <div class="modal-content p-10 font-text text-black font-light leading-[1.5]">
            <p class="max-w-[610px]">Develop and maintain high-quality game features using LUA, collaborating with the team to deliver engaging, bug-free experiences.</p>
            <div class="grid grid-cols-2 gap-x-12 mt-10">
                <div class="col-span-1 pb-10 border-b border-[#CDCDCD]">
                    <h5 class="font-be text-sm font-normal tracking-[0.16em] uppercase text-black mb-7">Key Responsibilities:</h5>
                    <ul class="list-disc list-outside ml-4 flex flex-col font-text gap-1 text-sm font-light leading-[2]">
                        <li>Take lead in implementing game features and functionality.</li>
                        <li>Write clean, efficient, and well-documented code using LUA.</li>
                        <li>Collaborate with designers and other team members to ensure the game meets the desired specifications.</li>
                        <li>Test and debug code to identify and fix errors.</li>
                        <li>Learn and adapt to new programming languages and technologies as needed.</li>
                    </ul>
                </div>
                <div class="col-span-1 pb-10 border-b border-[#CDCDCD]">
                    <h5 class="font-be text-sm font-normal tracking-[0.16em] uppercase text-black mb-7">Qualifications:</h5>
                    <ul class="list-disc list-outside ml-4 flex flex-col font-text gap-1 text-sm font-light leading-[2]">
                        <li>Strong understanding of programming fundamentals, including data structures, algorithms, and object-oriented programming.</li>
                        <li>Experience with LUA for at least 2 years</li>
                        <li>Ability to learn and adapt to new programming languages and technologies quickly.</li>
                        <li>Strong problem-solving and debugging skills.</li>
                        <li>Good communication and teamwork skills.</li>
                        <li>Minimum 2 years working for a Roblox development company/studio.</li>
                    </ul>
                </div>
            </div>
            <div class="grid grid-cols-2 gap-x-12 mt-10 items-end">
                <div class="col-span-1">
                    <h5 class="font-be text-sm font-normal tracking-[0.16em] uppercase text-black mb-7">Requirements:</h5>
                    <ul class="list-disc list-outside ml-4 flex flex-col font-text gap-1 text-sm font-light leading-[2]">
                        <li>Language (Spoken): English</li>
                        <li>Experience with user-generated content (especially Roblox)</li>
                    </ul>
                </div>
                <div class="col-span-1">
                    <a href="mailto:jobs@hubertstudio.com" class="h-[49px] w-full bg-[#BADF01] text-black rounded-full flex items-center justify-center hover:opacity-80 transition-all duration-300">
                        <span class="underline underline-offset-[3px] decoration-1 font-text text-[10px] tracking-[0.32em] uppercase font-normal">
                            SEND EMAIL
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<script src="./vendor/gsap/gsap.min.js" defer></script>
<script src="./vendor/gsap/scrollSmoother.min.js" defer></script>
<script src="./vendor/gsap/ScrollTrigger.min.js" defer></script>
<script src="./vendor/gsap/ScrollToPlugin.min.js" defer></script>
<script src="./js/fancybox.js" defer></script>
<script src="./js/pages/career.js" defer></script>
