---
import Layout from '../layouts/Layout.astro';
import WorldWork from '../components/sections/worldWork.astro';
---

<Layout title="Homepage">
    <WorldWork />
    <section class="border-t-[#BADF01] border-t-[20px] hubert-about-us pt-20 md:pb-16 bg-white hubert-s2 z-index-[2]">
        <div class="hubert-s2-content">
            <div class="container relative z-10">
                <div class=" xl:text-5xl text-3xl font-medium text-white gap-2 min-h-[50vh] flex pt-[15vh] items-start hubert-s2-text" data-animation="fade-up">
                    <div class="grid grid-cols-1 w-full">
                        <div class="col-span-1 text-right">
                            <p class="animate-text-about-us"> Born from the love of gaming, powered by </p>
                        </div>
                        <div class="col-span-1">
                            <p class="animate-text-about-us">creative minds, gaming hearts, and brand brains.</p>
                        </div>
                    </div>
                </div>
                <div class="relative hubert-s2-box" data-animation="fade-up" data-delay="0.4">
                   <div class=" -translate-y-[17vh]">
                        <div class="box-content absolute top-[90px] left-12 md:!max-w-[365px] w-full !max-w-[100%] p-[21px] px-[30px] pb-[29px] bg-[#BADF01] rounded-[16px] min-h-[143px] flex flex-col justify-between z-10"  >
                            <p class="text-black text-sm leading-6 font-light font-text">We are a gaming development studio creating branded worlds and interactive experiences for the next generation.</p>
                            <a href="/about-us" class="btn-arrow font-inter font-semibold text-sm text-black mt-[62px]">→ More About Us</a>
                            <div class="sharp-box sharp-thunder">
                                <img src="/images/sharp-light.svg" alt="sharp box">
                            </div>
                            <div class="sharp-box sharp-x">
                                <img src="/images/sharp-x.svg" alt="sharp box">
                            </div>
                            <div class="sharp-box sharp-heart">
                                <img src="/images/sharp-heart.svg" alt="sharp box">
                            </div>
                        </div>
                        <div class="box-img text-right">
                            <img src="/images/console-neon.png" alt="console neon" class="ml-auto">
                        </div>
                   </div>
                </div>
            </div>
       </div>
    </section>
   
    <section class="md:pt-28 md:pb-16 py-24 abt-quote flex items-center justify-center">
        <div class="container">
            <div class="grid grid-cols-1 text-center font-anton 2xl:text-[140px]  xl:text-[130px] lg:text-[90px] md:text-[70px] text-[50px] leading-[0] relative ">
                <div class="backdrop">
                </div>
                <div class="col-span-1 relative z-10">
                    <h3 class="text-white abt-quote-title">
                        <span class="text">IDEATE</span>
                        <span class="sharp sharp-ideate">
                            <img src="/images/title/ideate.png" alt="ideate">
                        </span>
                    </h3>
                </div>
                <div class="col-span-1 relative z-10">
                    <h3 class="text-white abt-quote-title">
                        <span class="text">CREATE</span>
                        <span class="sharp sharp-create">
                            <img src="/images/title/create.png" alt="create">
                        </span>
                    </h3>
                </div>
                <div class="col-span-1 relative z-10">
                    <h3 class="text-white abt-quote-title">
                        <span class="text">PROTOTYPE</span>
                        <span class="sharp sharp-prototype">
                            <img src="/images/title/prototype.png" alt="prototype">
                        </span>
                    </h3>
                </div>
                <div class="col-span-1 relative z-10">
                    <h3 class="text-white abt-quote-title">
                        <span class="text">PLAY</span>
                        <span class="sharp sharp-play">
                            <img src="/images/title/play.png" alt="play">
                        </span>
                    </h3>
                </div>
                <div class="col-span-1 relative z-10">
                    <h3 class="text-white abt-quote-title">
                        <span class="text">DO IT AGAIN</span>
                        <span class="sharp sharp-do-it-again">
                            <img src="/images/title/do-it-again.png" alt="do it again">
                        </span>
                    </h3>
                </div>
            </div>
            <div class="md:flex text-center md:text-left grid grid-cols-1 md:gap-8 gap-4 justify-center mt-20 abt-quote-sub">
               <div class="md:max-w-[260px] col-span-1">
                    <p class="text-sm leading-6 font-light font-text text-white">
                        This is our process. <br/>
                        Now see what it looks like in action.
                    </p>
               </div>
               <div class="md:max-w-[80px] col-span-1">
                    <img src="/images/smile-icon.svg" alt="smile icon" class="mx-auto md:mx-0">
               </div>
               <div class="md:max-w-[250px] w-full col-span-1">
                    <a href="#" class="btn btn-default btn-full">
                        See our work
                    </a>
               </div>

            </div>
           
        </div>
    </section>
    <section class="hubert-s4">
        <div class="container">
            <div class="flex lg:flex-nowrap flex-wrap">
                <div class="lg:max-w-[584px] w-full text-center lg:text-left lg:pr-7" data-animation="fade-up">
                    <img src="/images/console-neon-1.png" alt="console neon" class="mx-auto lg:mx-0 lg:max-w-full max-w-[80%]">
                </div>
                <div class="flex-1">
                    <h3 class="heading-title font-sans text-white text-[50px] leading-none !pl-0" data-animation="fade-up" data-delay="0.2">
                        Our work is guided by four principles that keep it <span class="text-[#BADF01]">playful</span>, <span class="text-[#BADF01]">purposeful</span>, and <span class="text-[#BADF01]">powerful</span>
                    </h3>
                    <ul class="list-hubert-s4">
                        <li data-animation="fade-up" data-delay="0.4">
                           <div class="inside-box">
                                <h4>Play First</h4>
                                <p>
                                    We design from the player's perspective. Fun, flow, and freedom are always the foundation.
                                </p>
                           </div>
                        </li>
                        <li data-animation="fade-up" data-delay="0.4">
                            <div class="inside-box">
                                <h4>Built for Brands</h4>
                                <p>
                                    Our games are made to connect. They deliver impact, not just impressions.
                                </p>
                           </div>
                        </li>
                        <li data-animation="fade-up" data-delay="0.6">
                            <div class="inside-box">
                                <h4>Shaped by Culture</h4>
                                <p>
                                    We create experiences that feel authentic to Gen Z and Gen Alpha. Timely, relevant, and ready to spread.
                                </p>
                            </div>
                        </li>
                        <li data-animation="fade-up" data-delay="0.6">
                            <div class="inside-box">
                                <h4>Driven by Craft</h4>
                                <p>
                                    We move fast, test often, and polish hard. Every world is designed to perform and evolve.
                                </p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Marquee Examples -->
    <section class="hubert-marquee">
        <div class="marquee-container" data-reverse="false" data-speed="50">
            <div class="marquee-track">
                <div class="marquee-content">
                    <span>BRAND CUSTOM GAMES</span>
                    <span>INTERACTIVE EXPERIENCE</span>
                    <span>ENGAGING GAMEPLAY</span>
                    <span class="white">BRAND CUSTOM GAMES</span>
                    <span class="white">INTERACTIVE EXPERIENCE</span>
                    <span class="white">ENGAGING GAMEPLAY</span>
                    
                </div>
            </div>
        </div>
    </section>

    <section class="hubert-project lg:py-[200px] py-10">
        <div class="container max-w-[1142px]">
            <div class="block-heading relative z-10" data-animation="fadeIn-up">
                <h3 class="md:text-[70px] text-[40px] leading-none font-book text-white border-b border-[#373737] pb-3 mb-3">PROJECTS</h3>
                <p class="sub-heading max-w-[485px] text-white text-sm leading-6 font-light font-text">
                    Lorem ipsum dolor sit amet, elit sed do eiusmod, tempor incididunt veritatis consectetur adipiscing. Doloremque laudantium.
                </p>
                <div class="sharp-box sharp-game-cartridge lg:block hidden">
                    <img src="/images/game-cartridge.png" alt="game cartridge">
                </div>
            </div>
            <div class="mt-7 project-carousel-wrapper" data-animation="fadeIn-up">
                <div class="owl-overlay"></div>
                <div class="project-carousel owl-carousel">
                    <div class="card-item">
                        <div class="card-img">
                            <a href="#" class="block before:block relative before:content-[''] before:pt-[61%]">
                                <img src="/images/project-1.png" alt="project 1" class="w-full h-full object-cover absolute top-0 left-0">
                            </a>
                        </div>
                        <div class="card-content relative pl-3 pt-4 pb-6 mt-5 border-[#373737] border-t flex items-center">
                            <a class="text-white text-[32px] font-display leading-none block  overflow-hidden text-ellipsis line-clamp-2 min-h-[50px]">Faryngrove</a>
                            <a class="card-link text-[#000] ml-auto w-full max-w-[124px] flex items-center justify-center bg-[#BADF01] rounded-[100px] font-text text-[10px] underline underline-offset-[3px] h-[29px]" href="#">
                                VIEW
                            </a>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-img">
                            <a href="#" class="block before:block relative before:content-[''] before:pt-[61%]">
                                <img src="/images/project-1.png" alt="project 1" class="w-full h-full object-cover absolute top-0 left-0">
                            </a>
                        </div>
                        <div class="card-content relative pl-3 pt-4 pb-6 mt-5 border-[#373737] border-t flex items-center">
                            <a class="text-white text-[32px] font-display leading-none block  overflow-hidden text-ellipsis line-clamp-2 min-h-[50px]">Faryngrove</a>
                            <a class="card-link text-[#000] ml-auto w-full max-w-[124px] flex items-center justify-center bg-[#BADF01] rounded-[100px] font-text text-[10px] underline underline-offset-[3px] h-[29px]" href="#">
                                VIEW
                            </a>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-img">
                            <a href="#" class="block before:block relative before:content-[''] before:pt-[61%]">
                                <img src="/images/project-1.png" alt="project 1" class="w-full h-full object-cover absolute top-0 left-0">
                            </a>
                        </div>
                        <div class="card-content relative pl-3 pt-4 pb-6 mt-5 border-[#373737] border-t flex items-center">
                            <a class="text-white text-[32px] font-display leading-none block  overflow-hidden text-ellipsis line-clamp-2 min-h-[50px]">Faryngrove</a>
                            <a class="card-link text-[#000] ml-auto w-full max-w-[124px] flex items-center justify-center bg-[#BADF01] rounded-[100px] font-text text-[10px] underline underline-offset-[3px] h-[29px]" href="#">
                                VIEW
                            </a>
                        </div>
                    </div>
                    <div class="card-item">
                        <div class="card-img">
                            <a href="#" class="block before:block relative before:content-[''] before:pt-[61%]">
                                <img src="/images/project-1.png" alt="project 1" class="w-full h-full object-cover absolute top-0 left-0">
                            </a>
                        </div>
                        <div class="card-content relative pl-3 pt-4 pb-6 mt-5 border-[#373737] border-b border-t flex items-center">
                            <a class="text-white text-[32px] font-display leading-none block  overflow-hidden text-ellipsis line-clamp-2 min-h-[50px]">Faryngrove</a>
                            <a class="card-link text-[#000] ml-auto w-full max-w-[124px] flex items-center justify-center bg-[#BADF01] rounded-[100px] font-text text-[10px] underline underline-offset-[3px] h-[29px]" href="#">
                                VIEW
                            </a>
                        </div>
                    </div>
                </div>
            </div>
           
        </div>
    </section>
    <section class="hubert-marquee">
        <div class="marquee-container" data-reverse="true" data-speed="50">
            <div class="marquee-track">
                <div class="marquee-content">
                    <span>BRAND CUSTOM GAMES</span>
                    <span>INTERACTIVE EXPERIENCE</span>
                    <span>ENGAGING GAMEPLAY</span>
                    <span class="white">BRAND CUSTOM GAMES</span>
                    <span class="white">INTERACTIVE EXPERIENCE</span>
                    <span class="white">ENGAGING GAMEPLAY</span>
                    
                </div>
            </div>
        </div>
    </section>
    <!-- <section class="hubert-s5 lg:py-36 py-10 bg-section">
        <div class="container max-w-[1142px]">
           
            <div class="grid grid-cols-12 md:grid-cols-12 lg:grid-cols-12 gap-3 mt-7">
                <div class="lg:col-span-5 col-span-12">
                    <div class="block-heading"  data-animation="fade-right">
                        <h3 class="lg:text-[70px] text-[40px] leading-none font-book text-white">TESTIMONIALS</h3>
                    </div>
                </div>
                <div class="lg:col-span-7 col-span-12">
                    <div class="testimonial-slide owl-carousel" data-animation="fade-left">
                        <div class="testimonial-item">
                            <div class="testimonial-heading">
                                <h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                </h4>
                            </div>
                            <div class="testimonial-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</div>
                            <div class="testimonial-author text-white">
                                <p class="font-medium mb-1 leading-none">John Doe</p>
                                <p class="text-sm">CEO, Company Name</p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-heading">
                                <h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                </h4>
                            </div>
                            <div class="testimonial-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</div>
                            <div class="testimonial-author text-white">
                                <p class="font-medium mb-1 leading-none">John Doe</p>
                                <p class="text-sm">CEO, Company Name</p>
                            </div>
                        </div>
                        <div class="testimonial-item">
                            <div class="testimonial-heading">
                                <h4>
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                </h4>
                            </div>
                            <div class="testimonial-content">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt explicabo. Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione</div>
                            <div class="testimonial-author text-white">
                                <p class="font-medium mb-1 leading-none">John Doe</p>
                                <p class="text-sm">CEO, Company Name</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section> -->
</Layout>

<script src="./vendor/gsap/gsap.min.js" defer></script>
<script src="./vendor/gsap/scrollSmoother.min.js" defer></script>
<script src="./vendor/gsap/ScrollTrigger.min.js" defer></script>
<script src="./vendor/gsap/ScrollToPlugin.min.js" defer></script>
<script src="./js/owl.carousel.min.js" defer></script>
<script src="./js/pages/homepage.js" defer></script>
