---

---

<footer class="footer">
    <div class="container">
        <div class="top-footer">
            <img src="/images/ready-build-world.png" alt="logo" class="">
        </div>
        <div class="bottom-footer grid grid-cols-3 w-full">
            <div class="col-span-1">
                <h3 class="font-text tracking-[4px] text-black mb-5">OFFICE</h3>
                <p class="text-black font-text text-sm">9B Phung Khac Khoan<br>
                    Da Kao Ward, District 1<br>
                    Ho Chi Minh City, Vietnam</p>
            </div>
            <div class="col-span-2">
                <h3 class="font-text tracking-[4px] text-black mb-5">LINKS</h3>
                <ul class="grid grid-cols-3 gap-x-3 gap-y-1 bottom-menu">
                    <li class="col-span-1">
                        <a href="/">Contact</a>
                    </li>
                    <li class="col-span-1">
                        <a href="/">Privacy Policy</a>
                    </li>
                    <li class="col-span-1">
                        <a href="/">Instagram</a>
                    </li>
                    <li class="col-span-1">
                        <a href="/">About Us</a>
                    </li>
                    <li class="col-span-1">
                        <a href="/">Terms of Service</a>
                    </li>
                    <li class="col-span-1">
                        <a href="/">Linkedin</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>