---
const menu = [
   {
    title: 'Home',
    href: '/'
   },
   {
    title: 'Work',
    href: '/work'
   },
   {
    title: 'About Us',
    href: '/about-us'
   },
   {
    title: 'Services',
    href: '/services'
   },
   {
    title: 'Contact Us',
    href: '/contact-us'
   }
]
const { pathname } = Astro.url;
---


<header class="header fixed top-0 left-0 right-0 z-50 bg-black py-7 border-b-[4px] border-[#BADF01]">
    <div class="container">
        <div class="flex items-center justify-between">
            <a href="/" class="text-white text-2xl font-bold">
                <img src="/images/logo.svg" alt="Logo">
            </a>
            <div class="flex items-center gap-4">
                <div class="hammer-menu ml-auto lg:hidden">
                    <span></span>
                    <span></span>
                    <span></span>
                  </div>
                <ul class="visibility-hidden opacity-0 lg:opacity-100 lg:visibility-visible lg:flex items-center gap-9 navigation">
                    {menu.map((item) => (
                        <li class="navigation-item"><a href={item.href} class={
                          `text-white text-[10px] font-medium uppercase font-micro block relative tracking-[3px] ${pathname === item.href ? 'current-page' : ''} navigation-link`
                        }>{item.title}</a></li>
                    ))}
                </ul>
            </div>
        </div>
    </div>
</header>